HELP.md
.DS_Store
.gradle
build/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Compiled Java class files
*.class

# Log files
*.log

# Package files
*.jar

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

/libs/
